<?xml version="1.0"?>
<Config>
    <portServer>8080</portServer>
    <InitialSpeedLevel>3</InitialSpeedLevel>
    <!-- timout controller (int) minutes -->
    <TimeoutController>5</TimeoutController>
    <pinMouveFront>17</pinMouveFront>
    <pinMouveBack>18</pinMouveBack>
    <cameraWidth>320</cameraWidth>
    <cameraHeight>240</cameraHeight>
    <cameraQuality>10</cameraQuality>
</Config>