<?xml version="1.0"?>
<Config>
    <portServer>8080</portServer>
    <InitialSpeedLevel>3</InitialSpeedLevel>
    <!-- timout controller (int) minutes -->
    <TimeoutController>5</TimeoutController>
    <pinMouveFront>17</pinMouveFront>
    <pinMouveBack>18</pinMouveBack>
    <coeffSpeedWagon>1</coeffSpeedWagon>
    <coeffBrakeWagon>1</coeffBrakeWagon>
    <coeffSpeedRotationCamera>1</coeffSpeedRotationCamera>
</Config>