*
{
    outline: 0;
}

html, head, body
{
    margin: 0px;
    padding: 0px;
}

button
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6vh;
    border-radius: 25vh;
    cursor: pointer;
}

input[type=range]
{
    cursor: grabbing;
}

input[type=number]
{
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button
{
    opacity: 1;
}